/* .btn {
    background-color: #800080ff;
    color: #fff;
    border-color: #800080ff;
}

.btn:hover,
.btn:active {
    background-color: #000;
    border-color: #800080ff;
} */
/* rgba(153, 47, 153, 0.3) */